@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Ubuntu');

*{
  cursor: default;
}
body {
  overflow-x: hidden;
  background: #EAECEE;
}
#sidebar-wrapper {
  min-height: 100vh;
  width: 70px;
  margin-left: 0;  
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;  
}
#sidebar-wrapper .list-group {
  width: 70px;
}
.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.bg-dark-blue {
  background-color: #2C3E50;
}
.btn-exlibris {
  color: #f1f1f1dd;
  background-color: rgb(54, 77, 100);
}
.btn-exlibris:hover {
  color: #f1f1f1dd;
  background-color: rgb(38, 54, 70);
}
.list-group-item {
  padding: 10px;
  color: #f1f1f1b7;
  text-align: center;
  font-size: 13px;
  font-family: 'Noto Sans', sans-serif;  
}
.list-group-item-action:hover{
  color: #2C3E50;
  background-color: #b5cadb7a;
}
.list-group-item-action:focus{
  color: #2C3E50;
  background-color: #b5cadb7a;
}
#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
#content-body {
  margin-top: 20px;
  overflow: auto
}
.card {
  overflow:hidden;
  background-color: #ffffff;  
}
.text-gray {
  color: #424949;
}
.card-body .rotate{
  z-index: 8;
  float: right;
  height: 100%;
  background-color: #ffffff;
}
.card-body .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: -5px;
  bottom: 5px;
  display: block;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}
.text-uppercase {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;  
}
.display-4 {
  font-family: 'Ubuntu', sans-serif;
}
.list-group-r-item {  
  padding: 10px;
  color: #474747e7;
  background: #EAECEE;
  text-align: center;
  font-size: 13px;
  font-family: 'Noto Sans', sans-serif;  
}
.list-group-r-item-action:hover{
  color: #424949;
  background-color: #b5cadb7a;
  text-decoration: none;
}
.list-group-r-item-action:focus{
  color: #424949;  
}
.submenu {  
  position: relative; 
  text-align: center;
  width: 50px;
}
.submenu i{
  padding: 10px 5px 0px 5px;
  font-size: 30px;
}
.submenu li{  
  font-size: 10pt;  
  font-family: 'Noto Sans', sans-serif;  
}
.submenu li:hover{
  color: #2C3E50;
  background-color: #b5cadb7a;
}
.submenu a{
  color: #424949bb;
  text-decoration: none;
}
.submenu a:hover{
  color: #424949;
  text-decoration: none;
}
.nav-pills .nav-link.active{
    background-color: #2C3E50;
    color: #f1f1f1dd;
}
.nav-pills .nav-link{
  color: #2C3E50;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.has-price .form-control {
  padding-left: 2.375rem;
}
.has-price .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.form-control:focus {
  border-color: rgba(44, 62, 80, 0.5);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(44, 62, 80, 0.7);
}
.item-card img{
  max-width: 120px !important;
  width: 100% !important;
  height: auto;
}
.item-card h5{
  color: rgb(34, 71, 109);
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 0px;
}
.item-card h6{
  font-family: 'Roboto', sans-serif;
  padding: 0px 1px;
  color: #2C3E50aa;
  font-weight: bold;
}
.item-card .card-text {
  text-align: justify;
}
.item-card .card-body{
  margin-right: 0px;
}
.item-card .details{
  color: rgba(49, 100, 151, 0.9);
  font-family: 'Noto Sans', sans-serif;
  position: relative;
  margin-top: 10px;
  margin-bottom: -15px;
  font-size: 10px;
}
.isbn { 
  font-weight: bold;
}
.publicated{
  font-style: italic;
  margin-right: 20px;
}
.cover {
  float: left;
  max-width: 120px;
  width: 18%;
  padding-left: 2%;
  padding-right: 2%;
}
.info {
  float: left;
  margin-left: 3%;
  width: 75%;
  font-size: 14px;
  position: relative;
}