@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Ubuntu');

*{
  cursor: default;
}
body {
  overflow-x: hidden;
  background: #EAECEE;
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 70px;
  margin-left: 0;  
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 70px;
}
.bg-dark-blue {
  background-color: #2C3E50;
}

.list-group-item {
  padding: 10px;
  color: #f1f1f1b7;
  text-align: center;
  font-size: 13px;
  font-family: 'Noto Sans', sans-serif;  
}

.list-group-item-action:hover{
  color: #2C3E50;
  background-color: #b5cadb7a;
}

.list-group-item-action:focus{
  color: #2C3E50;
  background-color: #b5cadb7a;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#content-body {
  margin-top: 20px;
}
.card {
  overflow:hidden;
  background-color: #ffffff;  
}
.text-gray {
  color: #424949;
}
.card-body .rotate{
  z-index: 8;
  float: right;
  height: 100%;
  background-color: #ffffff;
}
.card-body .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: -5px;
  bottom: 5px;
  display: block;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}
.text-uppercase {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;  
}
.display-4 {
  font-family: 'Ubuntu', sans-serif;
}